<div class="container__big-card">

    <div class="big-card__photo">
        <img 
        src="https://imageio.forbes.com/specials-images/imageserve/63600220295903240c876e05/0x0.jpg?format=jpg&height=600&width=1200&fit=bounds" 
        alt=""
        height="200px">
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    
    <div class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus blandit neque vitae suscipit. Phasellus et malesuada lacus. Praesent in vestibulum nulla, a molestie ligula.</a></p>
    </div>

</div>